@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=BhuTuka+Expanded+One&family=Big+Shoulders+Display:wght@800;900&family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Open+Sans&family=Oswald:wght@500&family=Outfit:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;900&family=Roboto:ital,wght@1,700&family=Work+Sans:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=BhuTuka+Expanded+One&family=Big+Shoulders+Display:wght@800;900&family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Open+Sans&family=Oswald:wght@500&family=Outfit:wght@300&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;900&family=Roboto:ital,wght@1,700&family=Work+Sans:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

a{
    background-color: black;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
    color: #FFF;
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.5px;
    position: absolute;
    top: 0;
    margin-left: 40px;
}

span{
    background-color: #D5966C;
    position: relative;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 40px;;
    font-size: 30px;
    color: white;
    position: absolute;
    left: -40px;
}

h4{
    margin-top: 70px;
    color: #FFF;
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    text-transform: uppercase;
}

.paragraph2{
    color: #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 30px;
}

footer{
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 48px 32px;
    text-align: left;
}

h3{
    font-size: 26px;
    font-family: big shoulders display;
    width: 150px;
    padding-bottom: 30px;
}

.meore{
    background-color: #151515;
    padding: 48px 20px;
    margin-top: -100px;
}
h4{
    color: var(--White, #FFF);
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    text-transform: uppercase;
}

.link a:hover{
    background-color: #D5966C;
    transition: 0.3s;
}

.link:hover span{
    background-color: #151515;
    transition: 0.3s;
}

.mark{
    display: flex;
    justify-content: center;
    margin-top: -370px;
    margin-bottom: 320px;
}


h5{
    margin-top: 60px;
    color: #D5966C;
    font-family: Big Shoulders Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    padding-top: 15px;
}

.meeqvse{
    color: #FFF;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 155.556% */
    padding-top: 15px;
    padding-bottom: 15px;
}

.giorgi{
    color: #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    padding-right: 10px;
}

.surati{
    width: 100vw;
}
